# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RWM_P0_C00278154_Combined.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
